

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #222831;
    font-family: 'Oxanium';
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111720;
    color: white; 
    font-family: 'Bungee Shade';
    padding: 20px 0px;
    font-size: 50px;
}

.score > .counter {
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.score > .text {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.score > .counter > .player, .score > .counter .computer {
   padding: 0px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    background-color:#111720;
    color:#ced5e0;
    font-size: small;
}