

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #222831;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111720;
    color: white; 
    font-family: 'Bungee Shade';
    padding: 20px 0px;
    font-size: 50px;
}